.navbar {
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.568);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  background-color: white;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.home {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.home a:hover {
  transform: scale(1.1);
  transition: all 200ms ease;
}
.home a {
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  border: 2px solid rgb(173, 173, 173);
  border-radius: 10px;
}
.home img {
  width: 250px;
  object-fit: contain;
}

.chatbot {
  position: fixed;
  transition: all 200ms ease-in-out;
  z-index: 11;
  width: 50%;
  height: 99%;
  display: grid;
  grid-template-rows: 12fr 1fr;
  top: 0px;
  color: white;
  background-color: var(--primary-color);
  padding: 10px;
}

/* From Uiverse.io by menezes11 */
.chatbot-toggle {
  position: fixed;
  z-index: 12;
  bottom: 7%;
  right: 3%;
  padding: 1em 1.8em;
  display: flex;
  align-items: center;
  gap: 10px;
  outline: none;
  border: 1px solid #303030;
  background: #212121;
  color: #ae00ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.chatbot-toggle:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
}

.chatbot-toggle span {
  position: absolute;
}

.chatbot-toggle span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
}

.chatbot-toggle:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.chatbot-toggle span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
}

.chatbot-toggle:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.chatbot-toggle span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
}

.chatbot-toggle:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.chatbot-toggle span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
}

.chatbot-toggle:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.chatbot-toggle:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
}

.chatbot-toggle:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

.chat-input input {
  color: white;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  width: 100%;
}

.chat-input input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}
.chat-input {
  z-index: 13;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* From Uiverse.io by Creatlydev */
.btn-github {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-github:hover {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(252, 232, 3, 0.08);
  color: #fce803;
  transform: translate(0, -0.25rem);
  background-color: rgba(255, 255, 255, 0.16);
}
.allchats > * {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--primary-color-shadow);
  color: var(--primary-color);
  max-width: 80%;
  border-bottom-left-radius: 0%;
}
.user-me {
  align-self: flex-end;
  border-bottom-right-radius: 0%;
}
.allchats {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 80vh;
  padding: 20px;
  gap: 20px;
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #625f5f7b;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 30px;
}
